@if(loading) {
    <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
}
<div class="mx-5 mt-2">
    <p class="text-xl font-medium mb-4">Gestionar Secciones</p>
    <div class="grid sm:grid-cols-4 sm:grid-rows-1 gap-4 sm:gap-y-0 grid-cols-2 grid-rows-2">
        <div class="order-1">
            <app-input [(searchTerm)]="searchTerm"></app-input>
        </div>
        <div class="order-3 sm:order-2 xl:-ms-16 flex justify-start text-sm">
            <app-select 
                [(optionSelected)]="gradoSelected" 
                [options]="grados" 
                [nombreFiltro]="'Grados'" 
                optionKey="grado_id" 
                optionLabel="nombre">
            </app-select>
        </div>
        <div class="order-4 sm:order-3 xl:-ms-32 flex max-sm:justify-end sm:justify-start text-sm -me-2 sm:-me-0">
            <app-select 
                [(optionSelected)]="periodoSelected" 
                [options]="periodos" 
                [nombreFiltro]="'Periodos'" 
                optionKey="periodo_id" 
                optionLabel="anio">
            </app-select>
        </div>
        <div class="order-2 sm:order-4 flex justify-end">
            <button 
                (click)="agregarSeccion()"
                class="bg-gradient-to-r from-gray-600 to-gray-500 text-white rounded-lg w-20
                text-sm p-2 -me-2 sm:-me-0 font-medium shadow-lg hover:from-gray-500 hover:to-gray-400 duration-300 hover:scale-110" 
            > + Agregar </button>
        </div>
    </div>
</div>
<app-table 
    [columns]="columns" 
    [data]="displayedSecciones()"
    [trackByField]="trackByField"
    [loadedComplete]="loadedComplete"
    [editActive]="true"
    [deleteActive]="true"
    (editAction)="editarSeccion($event.isEdit, $event.id)"
    (deleteAction)="eliminarSeccion($event.isDeleted, $event.id)"
></app-table>