@if(loading){
  <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
}
<div class="mx-5 mt-2">
  <div class="flex items-center justify-start font-normal text-lg gap-x-1 text-black hover:cursor-pointer hover:font-medium max-w-20 mb-5">
    <i class="fa-regular fa-circle-left"></i>
    <p (click)="volverDocentes()">  Volver</p>
  </div>
  <p class="text-xl font-medium mb-4">Gestionar Foto de Perfil del Docente</p>
  <div class="grid mt-4 gap-x-2 lg:flex">
    <div class="flex flex-col lg:w-[480px] lg:gap-y-3 gap-x-3 ps-2 pt-2 mb-3 -ms-2">
      <div class="flex flex-row items-center gap-x-2 text-xl font-normal text-cyan-500 mb-3 min-[1024px]:mb-1">
        <i class="fa-solid fa-circle-info"></i>
         Datos del Docente
      </div>
      <div class="text-sm font-medium gap-y-2 grid">
        <p>Nombre: 
          <span class="font-normal">{{ docente.nombre + ', ' + docente.apellido }}</span>
        </p>
        <p>Nro. Documento: 
          <span class="font-normal">{{ docente.numero_documento }}</span>
        </p>
        <p>Telefono: 
          <span class="font-normal">{{ docente.telefono }}</span>
        </p>
        <p>Direccion: 
          <span class="font-normal">{{ docente.direccion }}</span>
        </p>
        <span>Imagen actual: 
          <div class="relative flex justify-center items-center w-full">
            <div class="absolute w-36 h-36 border-2 border-gray-500 rounded-full"></div>
            @if(docente.multimedia === null) {
              <img src="../../../../assets/images/default.jpg" class="w-44 h-44 rounded-full object-cover" alt="">
            }
            @else {
              <img [src]="docente.multimedia.url" class="w-36 h-36 rounded-full object-cover" alt="">
            }
          </div>
        </span>
      </div>
    </div>

    <div class="w-full relative">
      <div
        class="inline-block min-w-full align-middle p-2"
        (dragenter)="arrastrarAlEntrar($event)"
        (dragleave)="arrastrarAlSalir($event)"
        (dragover)="arrastrarEncima($event)"
        (drop)="alSoltarArchivos($event)"
      >
        <div class="relative overflow-hidden shadow-lg ring-1 ring-black ring-opacity-5 rounded-lg p-3 bg-gray-50">
          @if(isDragging) {
            <div class="absolute inset-0 bg-gray-200 bg-opacity-75 flex flex-col justify-center items-center z-10">
              <i class="fa-solid fa-cloud-upload-alt text-6xl text-blue-500 mb-4"></i>
              <p class="text-xl font-medium text-blue-500">Suelta aquí el archivo</p>
            </div>
          }
          <div class="border-2 border-dashed border-gray-500 p-4 rounded-xl bg-gray-200">
            <div class="flex flex-col items-center justify-center my-2 text-gray-600">
              <i class="fa-regular fa-circle-down text-4xl mb-4"></i>
              <p class="text-base font-normal">Arrastrar y soltar archivo aquí</p>
              <p
                class="text-base font-normal px-4 py-1 rounded-md border border-gray-400 bg-gray-50
                hover:bg-gray-200 active:bg-gray-400 cursor-pointer mt-3"
                (click)="fileInput.click()"
              >
                Subir Archivo
              </p>
              <input
                #fileInput
                type="file"
                multiple
                accept=".jpg, .jpeg, .png"
                (change)="onFileSelect($event)"
                hidden
              />
            </div>
          </div>
  
          <div class="border-[1px] border-solid border-gray-400 p-4 rounded-xl bg-gray-100 mt-2 h-auto">
            @if(files.length === 0) {
              <div class="flex justify-center items-center h-full">
                <p class="text-base font-normal text-gray-800">No ha subido ningún archivo.</p>
              </div>
            }
            @else {
              <div class="grid md:grid-cols-4 gap-x-2 grid-cols-2">
                <li 
                  *ngFor="let file of files" 
                  class="file-item col-span-1 flex flex-col justify-between mb-2 w-auto p-2 bg-gray-200
                  rounded-xl text-sm font-[400] h-24 hover:bg-gray-300 hover:cursor-pointer"
                >
                  <div class="text-gray-700 w-full">{{ file.name }}</div>
                  <div class="flex justify-between w-full mt-auto">
                    <p>{{ formatFileSize(file.size) }}</p>
                    <div class="flex gap-x-2">
                      <div 
                        class="hover:text-blue-500 hover:cursor-pointer hover:scale-125 duration-200"
                        (click)="descargarArchivo(file)"
                      >
                        <i class="fa-solid fa-download"></i>
                      </div>
                      <div 
                        class="hover:text-red-500 hover:cursor-pointer hover:scale-125 duration-200"
                        (click)="borrarArchivo(file)"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </div>
                    </div>
                  </div>
                </li>
              </div>
            }
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <button 
          mat-flat-button 
          color="custom-color" 
          class="mt-3 me-2"
          (click)="guardarArchivos()"
        >
          Guardar Foto de Perfil
        </button>
      </div>
    </div>
  </div>
</div>