<div class="flex flex-col items-center w-full bg-dark-blue-1 h-screen p-5 duration-500 relative"
  [ngClass]="{ 'w-[220px]': open, 'w-[75px]': !open }">

  <!-- Boton de control del Sidebar -->
  <div class="hidden md:block">
    <div
      class="bg-white text-dark-blue-1 flex justify-center items-center 
      rounded-full w-10 h-10 absolute bottom-5 -right-5 border border-dark-blue-1 
      cursor-pointer hover:bg-light-blue-1 transition-transform duration-500" 
      (click)="toggleOpen()">
      <i class="fa-solid fa-arrow-left duration-500" [ngClass]="{ 'rotate-180' : !open }"></i>
    </div>
  </div>

  <!-- Titulo -->
  <div class="flex justify-center items-center cursor-pointer" routerLink="/admin">
    <i class="fa-solid fa-school text-white text-xl" 
      [ngClass]="{ 'me-0' : !open, 'me-2' : open }">
    </i>
    <p 
      class="text-white font-thin text-2xl " 
      [ngClass]="{ 'scale-0 hidden' : !open }"
      (click)="clearSelection()"
    >
      Colegio
    </p>
  </div>

  <!-- Buscador -->
  <div class="flex items-center mt-6">
    <input 
      type="text"
      class="rounded-ss-2xl rounded-es-2xl bg-dark-blue-2 w-full px-3 py-2 outline-none text-white"
      placeholder="Buscar ..." 
      [ngClass]="{ 'scale-0 hidden' : !open }"
    >
    <i 
      class="fa-solid fa-magnifying-glass rounded-ee-2xl rounded-se-2xl active:bg-dark-blue-2
      bg-dark-blue-3 p-3 fa-solid text-white "
      [ngClass]="{ 'rounded-ss-2xl rounded-es-2xl' : !open }"
    ></i>
  </div>

  <!-- Modulos -->
  <ul class="pt-2 w-full">
    @for (modulo of listaModulos; track modulo.id) {
      <li 
        class="text-gray-300 text-base cursor-pointer p-2 px-6 rounded-md mt-2 w-full transition-all hover:bg-dark-blue-2"
        (click)="toggleClick(modulo)"
        [ngClass]="{ 'text-cyan-400 hover:text-cyan-400': modulo.id === selectedModule }"
        [ngClass]="{ 'px-0' : !open, 'px-6' : open }"
        [routerLink]="'/admin/' + modulo.route"
        >
        <div class="grid grid-cols-12 items-center">
          <div [ngClass]="{ 'col-span-12': !open, 'col-span-3 me-3': open }">
            <span class="text-xl flex justify-center">
              <i [class]="'fa-solid fa-' + modulo.icon"></i>
            </span>
          </div>
          <div [ngClass]="{ 'hidden' : !open, 'col-span-9' : open }">
            <span>{{ modulo.titulo }}</span>
          </div>
        </div>
      </li>
    }
  </ul>
</div>