<div 
  class="flex flex-col items-center w-full h-screen p-5 duration-500 relative"
  [ngClass]="changeSideBarState()" 
  [class]="bgColor">

  <!-- Boton de control del Sidebar -->
  <div class="hidden md:block">
    <div
      class="bg-gray-500 text-white flex justify-center items-center 
      rounded-full w-10 h-10 absolute bottom-5 -right-5 font-semibold
      cursor-pointer hover:bg-gray-600 duration-500" 
      (click)="toggleOpen()">
      <i class="fa-solid fa-chevron-left duration-500" [ngClass]="{ 'rotate-180' : !open }"></i>
    </div>
  </div>

  <!-- Titulo -->
  <div class="flex justify-center items-center cursor-pointer h-7" routerLink="/admin">
    <div class="text-center">
      <p 
        class="text-sm text-green-100 mt-2 font-normal uppercase" 
        [ngClass]="{ 'scale-0 hidden' : !open }"
        (click)="clearSelection()"
      >
        Virgen de la 
        <span class="text-cyan-400 font-medium">Natividad</span>
      </p>
    </div>
  </div>

  <!-- Buscador -->
  <div class="flex items-center mt-6 relative">
    <input 
      type="text"
      class="rounded-ss-2xl rounded-es-2xl w-full px-3 py-2 outline-none text-white"
      placeholder="Buscar ..." 
      [class]="searchBgColorInput"
      [(ngModel)]="searchTerm"
      (change)="inputText()"
      [ngClass]="{ 'scale-0 hidden' : !open }"
    >
    <i 
      class="fa-solid fa-magnifying-glass rounded-ee-2xl rounded-se-2xl p-3 fa-solid text-white"
      [class]="searchBgColorIcon"
      [ngClass]="{ 'rounded-ss-2xl rounded-es-2xl' : !open }"
    ></i>
    @if(inputText()) {
      <ul class="absolute rounded-sm bg-white w-full max-h-32 top-10 overflow-y-auto">
      @for (modulo of displayedModules(); track modulo.id) {
          <li 
            (click)="toggleClick(modulo)"
            class="p-2 ps-4 hover:font-semibold hover:cursor-pointer"
            [routerLink]="getFullRoute(modulo.route)"
          >
            {{ modulo.titulo }}
          </li>
      }
      </ul>
    }
  </div>

  <!-- Modulos -->
  <ul class="pt-2 w-full">
    @for (modulo of listaModulos; track modulo.id) {
      <li 
        class="text-gray-300 text-base cursor-pointer p-2 px-6 rounded-md mt-2 w-full transition-all"
        (click)="toggleClick(modulo)"
        [class]="moduleBgColorHover"
        [ngClass]="changeColorTexts(modulo)"
        [ngClass]="{ 'px-0' : !open, 'px-6' : open,  }"
        [routerLink]="getFullRoute(modulo.route)"
        >
        <div class="grid grid-cols-12 items-center">
          <div [ngClass]="{ 'col-span-12': !open, 'col-span-3 me-3': open }">
            <span class="text-xl flex justify-center">
              <i [class]="'fa-solid fa-' + modulo.icon"></i>
            </span>
          </div>
          <div [ngClass]="{ 'hidden' : !open, 'col-span-9' : open }">
            <span>{{ modulo.titulo }}</span>
          </div>
        </div>
      </li>
    }
  </ul>
</div>