  <div class="flex flex-col m-3 md:h-auto h-screen">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full align-middle p-2">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                @for (column of columns; track column.header) {
                  <th class="py-3.5 pl-5 pr-3 text-left text-sm font-semibold text-gray-900">
                    {{ column.header }}
                  </th>
                }
                @if(!noActions) {
                  <th class="py-3.5 pl-5 pr-3 text-left text-sm font-semibold text-gray-900">
                    Acciones
                  </th>
                }
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              @for (row of ( data | paginate: { itemsPerPage: itemsPerPage, currentPage: p }); track row[trackByField]) {
                <tr>
                  @for (column of columns; track column.field) {
                    <td class="whitespace-nowrap py-3 pl-5 pr-3 text-sm font-normal text-gray-900 sm:pl-6 truncate">
                      {{ getNestedProperty(row, column.field) }}
                    </td>
                  }
                  @if(!noActions) {
                    <td>
                      <div class="flex py-3 pl-5 pr-3 text-base gap-x-3">
                        @if(asignActive) {
                          <div 
                            class="hover:text-amber-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="asign(row[trackByField])"
                          >
                            <i class="fa-solid fa-user-graduate"></i>
                          </div>
                        }
                        @if(hoursActive) {
                          <div
                            class="hover:text-emerald-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="hours(row[trackByField])"
                          >
                            <i class="fa-solid fa-clock"></i>
                          </div>
                        }
                        @if(pfpActive) {
                          <div
                            class="hover:text-lime-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="pfp(row[trackByField])"
                          >
                            <i class="fa-solid fa-id-badge"></i>
                          </div>
                        }
                        @if(filesActive) {
                          <div
                            class="hover:text-orange-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="files(row[trackByField])"
                          >
                            <i class="fa-solid fa-file-pdf"></i>
                          </div>
                        }
                        @if(editActive) {
                          <div 
                            class="hover:text-blue-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="edit(row[trackByField])"
                          >
                            <i class="fa-solid fa-pen"></i>
                          </div>
                        }
                        @if(deleteActive) {
                          <div 
                            class="hover:text-red-500 hover:cursor-pointer hover:scale-125 duration-200"
                            (click)="delete(row[trackByField])"
                          >
                            <i class="fa-solid fa-trash"></i>
                          </div>
                        }
                      </div>
                    </td>
                  }
                </tr>
              }
            </tbody>
          </table>
        </div>
        @if(data.length === 0) {
          <p class="flex justify-center text-sm my-4 font-medium">No se han encontrado registros.</p>
        }
      </div>
    </div>
    <div class="mt-3 flex justify-between items-center text-sm">
      <pagination-controls 
        (pageChange)="p = $event"
      ></pagination-controls>
      <div class="font-normal me-2 -mt-6 text-right">
        @if(totalResults > itemsPerPage) {
          Mostrando {{ p }} - {{ totalPages }} de {{ totalResults }} resultados
        }
        @if(totalResults <= itemsPerPage && totalResults > 1) {
          Mostrando {{ totalResults }} resultados
        }
        @if(totalResults === 1) {
          Mostrando 1 resultado
        }
      </div>
    </div>
  </div>