<div class="flex min-w-screen">
  <app-side-bar 
    (modulo)="obtenerModulo($event)" 
    [ngClass]="{ 'fixed inset-y-0 left-0 w-64 z-50' : sidebarMostrado, 'hidden md:block' : !sidebarMostrado }"
  ></app-side-bar>
  <div 
    class="fixed inset-0 bg-black opacity-50"
    *ngIf="sidebarMostrado"
    (click)="cerrarSidebar()"
  ></div>
  <app-main-content 
    [modulo]="modulo"
    [sidebarShowed]="sidebarMostrado"
    (sidebarMostrado)="mostrarSidebar($event)"
    class="w-full shadow-xl"
  ></app-main-content>
</div>