<div class="p-4">
    <div class="flex flex-col items-center">
        <div class="text-base mt-2 mb-6 font-medium">
            <p>{{ data.isEdit ? 'Editar Solicitud' : 'Editar Solicitud' }}</p> 
        </div> 
    </div>
    <form (ngSubmit)="guardarSolicitud()">
        <p class="pl-0.5 pb-4 font-medium">Datos de la solicitud:</p>
        <div class="grid grid-cols-2 gap-x-4">
            
            <!-- Estado -->
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Estado de la solicitud</mat-label>
                <mat-select 
                    [(ngModel)]="solicitud.estado"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option value="pendiente">Pendiente</mat-option>
                    <mat-option value="aprobada">Aprobada</mat-option>
                    <mat-option value="rechazada">Rechazada</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <!-- Botón Guardar -->
        <div class="flex justify-end mt-4">
            <button mat-flat-button color="primary" [disabled]="loading">
                {{ data.isEdit ? 'Guardar cambios' : 'Editar solicitud' }}
            </button>
        </div>
    </form>

    <!-- Barra de progreso -->
    @if(loading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
</div>
