  <div class="p-4">
    <div class="flex flex-col items-center">
        <div class="text-base mt-2 mb-6 font-medium">
            <p>{{ data.isEdit ? 'Editar Cupo' : 'Agregar Cupo' }}</p> 
        </div> 
    </div>
    <form>
        <p class="pl-0.5 pb-4 font-medium">Elija El Cupo:</p>
        <div class="grid grid-cols-2 gap-x-4">
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Capacidad</mat-label>
                <input
                    [(ngModel)]="cupo.capacidad"
                    type="text"
                    placeholder="capacidad"
                    matInput
                    appSoloNumeros
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Vacantes disponibles</mat-label>
                <input
                    [(ngModel)]="cupo.vacantes_disponibles"
                    type="text"
                    placeholder="vacantes disponibles"
                    matInput
                    appSoloNumeros
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
            
                <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                    <mat-label>Grado</mat-label>
                    <mat-select 
                        [(ngModel)]="cupo.grado._id"
                        [ngModelOptions]="{standalone: true}"
                    >
                        <mat-option 
                            *ngFor="let e of grados" 
                            [value]="e._id"
                        >
                            {{ e.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                    <mat-label>Periodo</mat-label>
                    <mat-select 
                        [(ngModel)]="cupo.periodo._id"
                        [ngModelOptions]="{standalone: true}"
                    >
                        <mat-option 
                            *ngFor="let e of periodos" 
                            [value]="e._id"
                        >
                            {{ e.anio }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="col-span-2 flex justify-end w-full">
                    <div class="p-2">
                        <button 
                            mat-flat-button 
                            color="custom-color" 
                            (click)="guardarInformacion()" 
                            class="me-2"
                        >{{ data.isEdit ? 'Editar' : 'Terminar'}}</button>
                        <button 
                            mat-button 
                            mat-dialog-close 
                            color="custom-color"
                        > Cancelar </button>
                    </div>
                </div>
        </div>
    </form>
  </div>
  @if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
