<div class="p-4">
    <div class="flex flex-col items-center">
        <div class="text-base mt-2 mb-6 font-medium">
            <p>{{ data.isEdit ? 'Editar Docente' : 'Agregar Docente' }}</p> 
        </div> 
    </div>
    <form (ngSubmit)="guardarInformacion()">
        <p class="pl-0.5 pb-4 font-medium">Datos del docente:</p>
        <div class="grid grid-cols-2 gap-x-4">
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Nombre</mat-label>
                <input
                    [(ngModel)]="docente.nombre"
                    type="text"
                    placeholder="Ingrese el nombre"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Apellido</mat-label>
                <input
                    [(ngModel)]="docente.apellido"
                    type="text"
                    placeholder="Ingrese el apellido"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select 
                    [(ngModel)]="docente.documento.documento_id"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option 
                        *ngFor="let e of tipoDocumento" 
                        [value]="e.documento_id"
                    >
                        {{ e.type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Numero de Documento</mat-label>
                <input
                    [(ngModel)]="docente.numero_documento"
                    type="text"
                    placeholder="Ingrese el Numero del Documento"
                    matInput
                    appSoloNumeros
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Direccion</mat-label>
                <input
                    [(ngModel)]="docente.direccion"
                    type="text"
                    placeholder="Ingrese su Direccion"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Telefono</mat-label>
                <input
                    [(ngModel)]="docente.telefono"
                    type="text"
                    placeholder="Ingrese su telefono"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
        </div>


        <div class="flex justify-end w-full">
            <div class="p-2">
                <button mat-flat-button color="custom-color" class="me-2">{{ data.isEdit ? 'Editar' : 'Guardar' }}</button>
                <button mat-button mat-dialog-close color="custom-color">Cancelar</button>
            </div>
        </div>
    </form>
</div>
@if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}