@if(loading){
  <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
}
<div class="mx-5 mt-2">
  <p class="text-xl font-medium mb-4">Gestionar Pagos</p>
  <div class="flex justify-between">
    <app-input 
        [(model)]="searchTerm" 
        [placeholder]="'Buscar'" 
        [icon]="'magnifying-glass'"
        [widthFont]="'font-normal bg-gray-50'"
    ></app-input>
  </div>
</div>
<app-table 
  [columns]="columns" 
  [data]="displayedPagos()"
  [trackByField]="trackByField"
  [noActions]="true"
  [loadedComplete]="loadedComplete"
></app-table>