<div class="p-4">
    <div class="flex flex-col items-center">
      <div class="text-base mt-2 mb-6 font-medium">
        <p>Pagar Pension</p> 
      </div>
    </div>
    <form (ngSubmit)="PagarPension()">
      <p class="pl-0.5 pb-4 font-medium">Datos de la Pension:</p>
      <div class="grid grid-cols-2 gap-x-4">

        <mat-form-field appearance="fill" class="col-span-2">
          <mat-label>Dni del Estudiante</mat-label>
          <input
            [(ngModel)]="dni"
            type="text"
            (input)="validarDNI(dni)" 
            placeholder="Ingrese el Dni"
            matInput
            appSoloNumeros
            [ngModelOptions]="{standalone: true}"
          >
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="col-span-2">
          <mat-label>Nombre del Estudiante</mat-label>
          <input
            [(ngModel)]="nombreEstudiante"
            type="text"
            matInput
            disabled="true"
            [ngModelOptions]="{standalone: true}"
          >
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-span-2 ">
          <mat-label>Mes</mat-label>
          <mat-select 
              [(ngModel)]="pension.mes"
              (selectionChange)="setPension($event.value)"
              [disabled]="isMesDisabled"
              [ngModelOptions]="{standalone: true}"
          >
              <mat-option 
                  *ngFor="let e of listaMesesPendientes" 
                  [value]="{ mes: e.mes, id: e.id }"
              >
                  {{ e.mes }}
              </mat-option>
          </mat-select>
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
          <mat-label>Metodo de Pago</mat-label>
          <mat-select 
              [(ngModel)]="pension.metodo_pago"
              [disabled]="isMetodoPagoDisabled"
              [ngModelOptions]="{standalone: true}"
          >
              <mat-option 
                  *ngFor="let e of listaMetodosPago" 
                  [value]="e.nombre"
              >
                  {{ e.nombre }}
              </mat-option>
          </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
        <mat-label>Número de Operacion</mat-label>
        <input
          [(ngModel)]="pension.n_operacion"
          type="text"
          placeholder="Ingrese el nro. de operación"
          matInput
          appSoloNumeros
          [disabled]="isMetodoPagoDisabled" 
          [ngModelOptions]="{standalone: true}"
        >
      </mat-form-field>

      </div>
      <div class="flex justify-end w-full">
        <div class="p-2">
          <button mat-flat-button color="custom-color" class="me-2"[disabled]="loading">Pagar</button>
          <button mat-button mat-dialog-close color="custom-color">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  @if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }
