<div class="p-4">
    <div class="flex flex-col items-center">
        <div class="text-lg mt-2 mb-4 font-medium">
            <p>{{ data.isEdit ? 'Editar Estudiante' : 'Agregar Estudiante' }}</p> 
        </div> 
    </div>
    <form>
        <p class="pl-0.5 pb-4 font-normal">Datos del Estudiante:</p>
        <div class="grid grid-cols-2 gap-x-4">
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Nombre</mat-label>
                <input
                    [(ngModel)]="estudiante.nombre"
                    type="text"
                    placeholder="Ingrese el nombre"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Apellido</mat-label>
                <input
                    [(ngModel)]="estudiante.apellido"
                    type="text"
                    placeholder="Ingrese el apellido"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select 
                    [(ngModel)]="estudiante.documento._id"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option 
                        *ngFor="let e of tipoDocumento" 
                        [value]="e._id"
                    >
                        {{ e.type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Numero de Documento</mat-label>
                <input
                    [(ngModel)]="estudiante.numero_documento"
                    type="text"
                    placeholder="Ingrese el Numero del Documento"
                    matInput
                    appSoloNumeros
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Periodo</mat-label>
                <mat-select 
                    [(ngModel)]="estudiante.periodo._id"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option 
                        *ngFor="let e of periodo" 
                        [value]="e._id"
                    >
                        {{ e.anio }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            @if(data.isEdit) {
                <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                    <mat-label>Seccion</mat-label>
                    <input
                        [(ngModel)]="seccionCompleta"
                        type="text"
                        placeholder="Ingrese el Numero del Documento"
                        matInput
                        appSoloNumeros
                        [ngModelOptions]="{standalone: true}"
                        disabled
                    >
                </mat-form-field>
            }

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Grado</mat-label>
                <mat-select 
                    [(ngModel)]="estudiante.grado._id"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option 
                        *ngFor="let e of grado" 
                        [value]="e._id"
                    >
                        {{ e.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2" [ngClass]="{ 'sm:col-span-1' : data.isEdit }">
                <mat-label>Direccion</mat-label>
                <input
                    [(ngModel)]="estudiante.direccion"
                    type="text"
                    placeholder="Ingrese su Direccion"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>

        </div>
        @if(data.isEdit) {
            <div class="flex justify-between items-center mb-4 mx-0.5 font-normal">
                <p class="font-normal">Datos del apoderado: {{ data.isCreate ? '(Maximo 2 apoderados)' : '' }}</p>
                <button 
                    mat-flat-button 
                    color="custom-color" 
                    (click)="agregarApoderado()" 
                    [disabled]="apoderadoList.length >= 2"
                >+ Agregar Apoderado</button>
            </div>
            <div class="my-2 font-normal">
                @if(apoderadoList.length === 0) {
                    <p class="flex justify-center my-3 font-medium">No hay apoderados registrados</p>
                }
                @else {
                    <div class="flex text-sm">
                        <p class="font-medium uppercase me-2">Apoderados: </p>
                        <div class="flex-col justify-start items-center -mt-0.5">
                            @for(apoderado of apoderadoList; track apoderado._id) {
                                <div class="flex justify-between max-w-72 px-2 py-1 mb-2 bg-gray-400 
                                text-black duration-300 rounded-lg shadow-md">
                                    <p>
                                        {{ apoderado.nombre + ' ' + apoderado.apellido + ' (Nro.Documento: ' + apoderado.numero_documento + ')'  }}
                                    </p>
                                    <div class="flex flex-col items-center justify-center gap-y-2.5">
                                        <i class="fa-solid fa-pen hover:cursor-pointer" (click)="editarApoderado(apoderado._id)"></i>
                                        <i class="fa-solid fa-trash hover:cursor-pointer" (click)="eliminarApoderado(apoderado._id)"></i>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        }
        <div class="flex justify-end w-full">
            <div class="p-2">
                <button mat-flat-button color="custom-color" class="me-2" (click)="guardarInformacion()">
                    {{ data.isEdit ? 'Editar' : '+ Añadir Estudiante' }}
                </button>
                @if(data.isCreate || apoderadoList.length >= 1) {
                    <button mat-button mat-dialog-close color="custom-color">Cancelar</button>
                }
            </div>
        </div>
    </form>
</div>
@if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
