<div class="p-4">
    <div class="flex flex-col items-center">
      <div class="text-base mt-2 mb-6 font-medium">
        <p>Agregar Vacante</p> 
      </div>
    </div>
    <form (ngSubmit)="guardarInformacion()">
      <p class="pl-0.5 pb-4 font-medium">Datos de la Vacante:</p>
      <div class="grid grid-cols-2 gap-x-4">
  
        <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
          <mat-label>Dni del Estudiante</mat-label>
          <input
            [(ngModel)]="dni"
            type="text"
            (input)="validarDNI(dni)" 
            placeholder="Ingrese el Dni"
            matInput
            appSoloNumeros
            [ngModelOptions]="{standalone: true}"
          >
          <mat-icon matSuffix>badge</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
          <mat-label>Nombre del Estudiante</mat-label>
          <input
            [(ngModel)]="nombreEstudiante"
            type="text"
            matInput
            disabled
            [ngModelOptions]="{standalone: true}"
          >
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
            <mat-label>Grado</mat-label>
            <mat-select 
              [(ngModel)]="vacante.grado_id"
              [ngModelOptions]="{standalone: true}"
            >
              <mat-option 
                *ngFor="let e of grados" 
                [value]="e._id"
              >
                {{ e.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
            <mat-label>Periodo</mat-label>
            <mat-select 
              [(ngModel)]="vacante.periodo_id"
              [ngModelOptions]="{standalone: true}"
            >
              <mat-option 
                *ngFor="let e of periodos" 
                [value]="e._id"
              >
                {{ e.anio }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
  
  
      <div class="flex justify-end w-full">
        <div class="p-2">
          <button mat-flat-button color="custom-color" class="me-2">Guardar</button>
          <button mat-button mat-dialog-close color="custom-color">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
  @if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  }