@if(loading){
    <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
}
<div class="mx-5 mt-2">
    <p class="text-xl font-medium mb-4">Gestionar Docentes</p>
    <div class="flex justify-between">
        <app-input 
            [(searchTerm)]="searchTerm" 
            [placeholder]="'Buscar'" 
            [icon]="'magnifying-glass'"
        ></app-input>
        <button 
            (click)="agregarDocente()"
            mat-flat-button 
            color="custom-color" 
        > + Agregar </button>
    </div>
</div>
<app-table 
    [columns]="columns" 
    [data]="displayedDocentes()"
    [trackByField]="trackByField"
    [loadedComplete]="loadedComplete"
    [editActive]="true"
    [deleteActive]="true"
    (editAction)="editarDocente($event.isEdit, $event.id)"
    (deleteAction)="eliminarDocente($event.isDeleted, $event.id)"
></app-table>
