@if(loading){
    <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
}
<div class="mx-5 mt-2">
    <p class="text-xl font-medium mb-4">Gestionar Cursos</p>
    <div class="flex justify-between">
        <app-input 
            [(model)]="searchTerm" 
            [placeholder]="'Buscar'" 
            [icon]="'magnifying-glass'"
            [widthFont]="'font-normal bg-gray-50'"
        ></app-input>
        <button 
            (click)="agregarCurso()"
            mat-flat-button 
            color="custom-color" 
        > + Agregar </button>
    </div>
</div>
<app-table 
    [columns]="columns" 
    [data]="displayedCursos()"
    [trackByField]="trackByField"
    [loadedComplete]="loadedComplete"
    [editActive]="true"
    [deleteActive]="true"
    [hoursActive]="true"
    (editAction)="editarCurso($event.isEdit, $event.id)"
    (deleteAction)="eliminarCurso($event.isDeleted, $event.id)"
    (hoursAction)="asignarHoras($event.isHours, $event.id)"
></app-table>
