@if(loading){
    <mat-progress-bar mode="indeterminate" class="-mt-7 mb-8"></mat-progress-bar>
  }
  <div class="mx-5 mt-2">
    <p class="text-xl font-medium mb-4">Gestionar Tutores</p>
    <div class="flex justify-between">
      <app-input 
        [(model)]="searchTerm" 
        [placeholder]="'Buscar'" 
        [icon]="'magnifying-glass'"
        [widthFont]="'font-normal bg-gray-50'"
      ></app-input>
      <button 
            (click)="agregarTutor()"
            mat-flat-button 
            color="custom-color" 
        > + Agregar </button>
    </div>
  </div>
  
  <app-table 
    [columns]="columns" 
    [data]="displayedTutores()"
    [trackByField]="trackByField"
    [loadedComplete]="loadedComplete"
    [requestActive]="true"
    [editActive]="true"
    [deleteActive]="true"
    [pfpActive]="true"
    (editAction)="editarTutor($event.isEdit, $event.id)"
    (deleteAction)="eliminarTutor($event.isDeleted, $event.id)"
    (pfpAction)="editarPFP($event.isPfp, $event.id)"
  ></app-table>
  
