<div class="p-4">
    <div class="flex flex-col items-center">
        <div class="text-base mt-2 mb-6 font-medium">
            <p>{{ data.isEdit ? 'Editar Tutor' : 'Agregar Tutor' }}</p> 
        </div> 
    </div>
    <form>
        <p class="pl-0.5 pb-4 font-medium">Datos del Tutor:</p>
        <div class="grid grid-cols-2 gap-x-4">
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Nombre</mat-label>
                <input
                    [(ngModel)]="tutor.nombre" 
                    type="text"
                    placeholder="Ingrese el nombre"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Apellido</mat-label>
                <input
                    [(ngModel)]="tutor.apellido"
                    type="text"
                    placeholder="Ingrese el apellido"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Telefono</mat-label>
                <input
                    [(ngModel)]="tutor.telefono"
                    type="text"
                    placeholder="Ingrese su Telefono"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
                <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Direccion</mat-label>
                <input
                    [(ngModel)]="tutor.direccion"
                    type="text"
                    placeholder="Ingrese su Direccion"
                    matInput
                    [ngModelOptions]="{standalone: true}"
                >
                <mat-icon matSuffix>location_on</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Tipo de Documento</mat-label>
                <mat-select 
                    [(ngModel)]="tutor.documento._id"
                    [ngModelOptions]="{standalone: true}"
                >
                    <mat-option 
                        *ngFor="let e of tipoDocumento" 
                        [value]="e._id"
                    >
                        {{ e.type }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                <mat-label>Numero de Documento</mat-label>
                <input
                    [(ngModel)]="tutor.numero_documento"
                    type="text"
                    placeholder="Ingrese el Numero del Documento"
                    matInput
                    appSoloNumeros
                    [ngModelOptions]="{standalone: true}"
                >
            </mat-form-field>
            <mat-form-field appearance="fill" class="col-span-2">
                <mat-label>Periodo</mat-label>
                <mat-select 
                    [(ngModel)]="tutor.periodo._id"
                    [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="listarGrados()"
                    [disabled]="periodoBlocked"
                   
                >
                    <mat-option 
                        *ngFor="let e of periodo" 
                        [value]="e._id"
                    >
                        {{ e.anio }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-span-3 md:col-span-1">
                <mat-label>Grado</mat-label>
                <mat-select 
                  [(ngModel)]="tutor.grado._id"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="!gradosLoaded"
                  (ngModelChange)="listarSeccionesPorPeriodoGrado()"
                >
                  <mat-option *ngFor="let e of grado" [value]="e._id">
                    {{ e.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          
            
            
            <mat-form-field appearance="fill" class="col-span-2 sm:col-span-1">
                    <mat-label>Seccion</mat-label>
                    <mat-select 
                    [(ngModel)]="tutor.seccion._id"
                    [ngModelOptions]="{standalone: true}"
                    [disabled]="!seccionLoaded"
                >
                    <mat-option 
                        *ngFor="let e of seccion" 
                        [value]="e.seccion._id"
                    >
                        {{ e.seccion.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>     
        </div>


        <div class="flex justify-end w-full">
            <div class="p-2">
                <button mat-flat-button color="custom-color" class="me-2" (click)="guardarInformacion()">
                    {{ data.isEdit ? 'Editar' : '+ Añadir Tutor' }}
                </button>
                <button mat-button mat-dialog-close color="custom-color">Cancelar</button>
            </div>
        </div>
    </form>
</div>
@if(loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
